<html>

        <head>

                <meta charset = utf-8/>
                <title>la liste des comptes</title>
        </head>
<body>
                <h4> les comptes</h4>     
               
 
                {% for account in accounts  %}
	                <div class = "article">
				<h3>{{ account.name }}</h3>
        	                <p>{{ account.website }} </p>
	               
                {% endfor %}

{% if is_paginated %}
	<div class = "pagination">
	{% if page_obj.has_previous %}
		<a href = "?page={{page_obj.previous_page_number}}">précédente</a>
	{% endif %}	

	page {{page_obj.number}} sur {{page_obj.paginator.num_pages}}
	
	{% if page_obj.has_next %}
	      -	<a href = "?page={{page_obj.next_page_number}}">suivant</a>	
	{% endif %}
	</div>
{% endif %}
</body>

</html>
